/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 100%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(0, 0%, 0%);/*--black-color-lighten: hsl(220, 20%, 18%);*/
  --white-color: #000000;
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--black-color);
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
  z-index: var(--z-fixed);
}

/*=============== NAV ===============*/
.nav__logo-img {
  width: 90px; /* Tamaño inicial del logo */
  height: auto; /* Mantener proporción de aspecto */
  margin-right: 10px; /* Espacio entre el logo y el texto */
  vertical-align: middle; /* Centrar verticalmente respecto al texto */
  transition: transform 0.3s ease; /* Animación suave para cambios */
}

/* Hacer el logo aún más pequeño en pantallas pequeñas */
@media (max-width: 768px) {
  .nav__logo-img {
      width: 150px; /* Reducir tamaño del logo en pantallas pequeñas */
  }
}

/* Asegurarse de que el logo no crezca demasiado en pantallas grandes */
@media (min-width: 1200px) {
  .nav__logo-img {
      width: 200px; /* Tamaño máximo para pantallas muy grandes */
  }
}

.nav {
  height: var(--header-height);
}

.nav__logo, 
.nav__burger, 
.nav__close {
  color: var(--white-color);
}

.nav__data {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo i {
  font-weight: initial;
  font-size: 1.25rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger, 
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {
  .nav__menu {
    position: absolute;
    left: 0;
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    transition: top .4s, opacity .3s;
  }
  .nav__menu::-webkit-scrollbar {
    width: 0;
  }
  .nav__list {
    background-color: var(--black-color);
    padding-top: 1rem;
  }
}

.nav__link {
  color: var(--white-color);
  background-color: var(--black-color);
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}

.nav__link:hover {
  background-color: var(--white-color-light);
}

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;
}

.dropdown__arrow {
  font-size: 1.25rem;
  font-weight: initial;
  transition: transform .4s;
}

.dropdown__link, 
.dropdown__sublink {
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--white-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .5rem;
  font-weight: var(--font-semi-bold);
  transition: background-color .3s;
}

.dropdown__link i, 
.dropdown__sublink i {
  font-size: 1.25rem;
  font-weight: initial;
}

.dropdown__link:hover, 
.dropdown__sublink:hover {
  background-color: var(--black-color);
}

.dropdown__menu, 
.dropdown__submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height .4s ease-out;
}

/* Show dropdown menu & submenu */
.dropdown__item:hover .dropdown__menu, 
.dropdown__subitem:hover > .dropdown__submenu {
  max-height: 1000px;
  transition: max-height .4s ease-in;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}

.dropdown__sublink {
  background-color: var(--black-color-lighten);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }
}

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 2rem);
    display: flex;
    justify-content: space-between;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: .25rem;
  }
  .nav__link:hover {
    background-color: transparent;
  }

  .dropdown__item, 
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu, 
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, top .3s;
  }

  .dropdown__link, 
  .dropdown__sublink {
    padding-inline: 1rem 3.5rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: .5rem;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 5.5rem;
    pointer-events: initial;
    transition: top .3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top .3s;
  }
}


/* Estilo de la sección con imagen de fondo */
.titulo {
  position: relative;
  padding: 4rem 2rem;
  color: #fff;
  border-radius: 0.5rem;
  margin: 7rem 0 0.1rem;
  background-image: url("/w.advertising/img/videos/WhatsApp\ Image\ 2024-11-29\ at\ 10.13.22\ PM.jpeg"); /* Asigna la imagen de fondo */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.titulo-contenido {
  position: relative;
  max-width: 800px;
  margin-left: auto; /* Empuja el contenido hacia la derecha */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo negro semi-transparente */
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center; /* Alinea el texto a la derecha por defecto */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .titulo-contenido {
      text-align: center; /* Centra el texto en pantallas pequeñas */
      margin: 0 auto; /* Centra el contenido */
  }
}

.titulo h1 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
}

.titulo p {
  color: #ddd;
  font-size: 1rem;
  margin: 0;
  line-height: 1.6;
}



/* fin */

/* estilos para h3 "vehiculos disponibles"*/
.vehicles-header {
  text-align: center;
  margin-top: 50px; /* Espaciado arriba y abajo */
  padding: 10px; /* Espaciado interno */
  background-color: #f8f8f8; /* Fondo suave */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.vehicles-header h3 {
  font-size: 20px; /* Tamaño del texto */
  color: #333; /* Color del texto */
  font-weight: bold; /* Negrita */
  margin: 0; /* Sin margen adicional */
}
/*fin*/

/* para las tarjetas de los autos */

/*h3{
  font-stretch: 5px;
}*/
section {
  padding: 1% 10%;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas grandes */
  gap: 1rem;
  margin-top: 2rem;
}

.services-container .box {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 1rem;
  box-shadow: 1px 4px 41px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.services-container .box .box-img {
  flex: 1;
  max-width: 40%; /* La imagen ocupará el 40% del ancho del contenedor */
  overflow: hidden;
  border-radius: 1rem; /* Opcional: agrega un borde redondeado a la imagen */
}

.services-container .box .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.services-container .box .box-content {
  flex: 1;
  padding: 0 1rem; /* Espaciado entre la imagen y el contenido */
}

.services-container .box p {
  padding: 0 10px;
  border: 1px solid var(--text-color);
  width: fit-content;
  border-radius: 0.5rem;
  margin: 1rem 0;
}

.services-container .box h3 {
  font-weight: 500;
}

.services-container .box h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
  margin: 0.2rem 0 0.5rem;
}

.services-container .box h2 span {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--text-color);
}


.services-container .box .btn {
  display: block;
  background: #000000;
  color: #fff;
  padding: 10px;
  border-radius: 0.5rem;
  text-decoration: none;
  text-align: center; /* Centra el botón */
  margin-top: 0.5rem; /* Espaciado superior del botón */
  font-weight: 700; /* Aumenta el grosor de las letras */
}

.services-container .box .btn:hover {
  background: #f40506;
}


@media (max-width: 768px) {
  .services-container {
      grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }

  .services-container .box {
      flex-direction: row; /* Mantiene la disposición en fila */
  }

  .services-container .box .box-img {
      max-width: 30%; /* Imagen más pequeña en pantallas pequeñas */
  }

  .services-container .box .box-content {
      max-width: 70%; /* Ajusta el ancho del contenido */
      padding: 0 0.5rem; /* Reduce el espaciado entre la imagen y el contenido */
  }
}


/* footer */
footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: static;
  }
}

.footer-distributed {
  background-color: hsl(0, 0%, 100%);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: "Montserrat" 16px sans-serif;
  padding: 30px 50px 30px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 45%;
}

.footer-distributed h3 {
  color: #000000;
  font: "Montserrat" 36px sans-serif; /* cambio en la letra */
  margin: 0;
}
.logo-img {
  width: 110px; /* Tamaño inicial del logo */
  height: auto; /* Mantener proporción de aspecto */
  display: inline-block; /* Asegura que se comporte como elemento en línea */
  vertical-align: middle; /* Centra verticalmente si hay texto u otros elementos */
  transition: transform 0.3s ease; /* Animación suave para cambios */
}

/* Hacer el logo más pequeño en pantallas pequeñas */
@media (max-width: 768px) {
  .logo-img {
      width: 100px; /* Reducir tamaño en pantallas pequeñas */
  }
}

/* Limitar el tamaño máximo en pantallas grandes */
@media (min-width: 1200px) {
  .logo-img {
      margin-left: 20%;
      width: 150px; /* Tamaño máximo en pantallas grandes */
  }
}


.footer-distributed h3 span {
  color: #f40506;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #000000;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #5b5c5e;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

/* El color azul que se usa para las letras es 6092d6 */

.footer-distributed .footer-center {
  width: 30%;
}

.footer-distributed .footer-center i {
  background-color: #ffffff;
  color: #000000;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #000000;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #f40506;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
/*
.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #6092d6;
}*/

.footer-links a:hover {
  color:  #f40506;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
